.attendance-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.nav-btn{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}
.nav-btn .student-btn,
.nav-btn .employee-btn{
    padding: 10px 5px;
    border: none;
    background-color: #2563eb;
    margin-right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}