.attendance-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
}
.table td, .table th {
    vertical-align: middle;
}
tr{
    border-bottom: 0.1px solid rgb(200, 197, 197);
}
th, td{
    padding: 8px;
}
.header-row{
    background-color: rgb(222, 219, 219);
}