.fee-action button{
    border: 0.5px solid rgb(200, 197, 197);
}
.fee-container{
    background-color: white;
}
tr{
    border-bottom: 0.1px solid rgb(200, 197, 197);
}
th, td{
    padding: 8px;
}
#fee-search::placeholder{
    color: gray;
    opacity: 70%;
    font-size: 15px;
}
.status-text{
    padding: 3px 8px 3px 8px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
}
.header-row{
    background-color: rgb(222, 219, 219);
    font-size: 14px;
}
.body-row{
    font-size: 13px;
}
.search-container {
    position: relative;
    width: auto;
}

.search-container input {
    padding-left: 35px;
}

.search-container i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #6c757d;
}
.action-button button{
    border: none;
    background-color: transparent;
}
.action-button button:nth-child(1) i {
    color: blue;
}
.action-button button:nth-child(2) i{
    color: red;
}
.programContainer, .program2Container{
    background-color: white;
}
.feesContainer{
    border-bottom: 0.5px solid gray;
    border-top: 0.5px solid gray;
}