@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Victor+Mono:wght@100..700&display=swap");

:root {
  /* Colors */
  --body-colors: #0a183d;
  --sidebar-color: #fff;
  --primary-color: #0d6efd;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --sidebar-bg-color: #Eff6ff;
  --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  /* Transitions */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--body-colors);
  overflow-x: hidden;
}

/* Main Content */
.main-content {
  margin-left: 258px;
  padding: 0 0 20px 30px;
  height: 100vh;
  background: var(--body-colors);
  transition: var(--tran-03);
}
.main-content.expanded {
  margin-left: 63px;
}

/* Dashboard */
.card {
  background: var(--sidebar-color);
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  padding: 10px;
  margin-bottom: var(--spacing-md);
  border: none;
}
h1, h2, h3 {
  color: var(--primary-color);
  margin-bottom: var(--spacing-sm);
}
p {
  color: var(--text-color);
  line-height: 1.6;
}
.btn-blue{
    background-color: #0d6efd;
    color: white;
}
.btn-blue:hover{
    background-color: #0663ee;
    color: white;
}
