body{
    height: 100vh;
}
.name-container{
    height: 90vh;
}
.academy-image{
    width: 100%;
}
.academy-title{
    font-size: 4.2rem;
}
.login{
    width: 50%;
    border-radius: 20px;
    padding: 20px;
}
.titleimage{
    width: 55px;
    height: 55px;
}
.username-container{
    box-shadow: 0 0 2px gray;
    border-radius: 15px;
}
.login-container{
    align-items: center;
}