.student-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
}
.search-container {
    position: relative;
    width: auto;
}

.search-container input {
    padding-left: 35px;
}

.search-container i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #6c757d;
}
.table td, .table th {
    vertical-align: middle;
}
tr{
    border-bottom: 0.1px solid rgb(200, 197, 197);
}
th, td{
    padding: 8px;
}
thead{
    background-color: rgb(222, 219, 219);
}