.search-container {
    position: relative;
    width: 450px;
}

.search-container input {
    padding-left: 40px;
    height: 40px;
    border: 1px solid #e0e0e0;
    transition: 0.3s ease;
}

.search-container input:focus {
    border-color: #695cfe;
    box-shadow: 0 0 5px rgba(105, 92, 254, 0.3);
}

.search-container i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #6c757d;
    font-size: 16px;
}