/* .search-container {
    position: relative;
} */
/* 
.search-container input {
    padding-left: 40px;
    height: 40px;
    border: 1px solid #e0e0e0;
    transition: 0.3s ease;
}

.search-container input:focus {
    border-color: #695cfe;
    box-shadow: 0 0 5px rgba(105, 92, 254, 0.3);
}

.search-container i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #6c757d;
    font-size: 16px;
} */
/* ===== Icons ===== */
.icon-container {
    width: 38px;
    height: 38px;
    background: #f1f3f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.icon-container:hover {
    background: #e2e6ea;
}

/* Notification dot */
.badge-dot {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
}

/* ===== Profile ===== */
.profile {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.3s;
}

.profile:hover {
    background: #f1f3f5;
}

.profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}