.reports-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.report-grid-generate{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.report-card-buttom {
  background: #ffffff;
  margin-top: 20px;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.report-card:hover {
  transform: translateY(-5px);
}
.report-card h3 {
  font-size: 18px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.report-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  transition: 0.2s;
}
.report-item:hover {
  background: #f9fafb;
}
.report-item h4 {
  font-size: 14px;
  margin: 0;
}

.report-item p {
  font-size: 12px;
  color: #6b7280;
  margin: 0;
}
.actions {
  display: flex;
  gap: 8px;
}
.btn-download-report {
  background: linear-gradient(135deg, #2563eb, #3b82f6);
  border: none;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-download-report i {
  color: white;
  font-size: 16px;
}

.btn-download-report:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.4);
}

.btn-download-report:active {
  transform: scale(0.92);
}
.btn-outline {
  border: 1px solid #e5e7eb;
  background: #ffffff;
  padding: 7px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-outline i {
  font-size: 16px;
  color: #2563eb;
}
.btn-outline:hover {
  background: #f3f4f6;
  border-color: #d1d5db;
}
.btn-outline:active {
  transform: scale(0.92);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .reports-grid {
    grid-template-columns: 1fr;
  }
}
.report-container {
  padding: 25px;
}

.report-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
  max-width: 900px;
}
.report-header h2 {
  font-size: 22px;
  font-weight: 600;
}
.report-header p {
  font-size: 14px;
  color: #6b7280;
  margin-top: 5px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 6px;
}
.form-group select {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
  font-size: 14px;
  transition: 0.2s;
}
.form-group select:focus {
  border-color: #2563eb;
  background: #fff;
  outline: none;
}
.report-action {
  margin-top: 25px;
}
.btn-generate {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #2563eb;
  color: white;
  padding: 12px 18px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-generate:hover {
  background: #1e40af;
  transform: translateY(-2px);
}
@media (max-width: 768px) {
  .report-grid {
    grid-template-columns: 1fr;
  }

  .report-card {
    padding: 20px;
  }
}