/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  /* Colors */
  --body-colors: #0a183d;
  --sidebar-color: #fff;
  --primary-color: #0d6efd;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --sidebar-bg-color: #Eff6ff;
  --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;

  /* Transitions */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.logo-details {
    display: flex;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar .header-text .name{
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.header-text .name2{
    font-weight: 300;
    font-size: 12px;
    margin-top: -20px;
}
header{
    border-bottom: 1px solid var(--toggle-color);
    padding-bottom: 10px;
}
.img-icon{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 280px;
  height: 100vh;
  background: var(--sidebar-color);
  transition: var(--tran-03);
    
}
.sidebar.collapsed .header-text .name,
.sidebar.collapsed .header-text .name2
{
    display: none;
}
.sidebar.collapsed {
  width: 85px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sidebar .sidebar-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-header .sidebar-toggler,
.sidebar-menu-button {
  position: absolute;
  right: 25px;
  height: 35px;
  top: 70%;
  width: 35px;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  display: flex;
  background: #EEF2FF;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: var(--tran-03);
}

.sidebar.collapsed .sidebar-header .sidebar-toggler {
  transform: translate(-4px, 65px);
}

.sidebar-header .sidebar-toggler span,
.sidebar-menu-button span {
  font-size: 1.75rem;
  transition: var(--tran-03);
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
  transform: rotate(180deg);
}

.sidebar-header .sidebar-toggler:hover {
  background: #d9e1fd;
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 2px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: var(--tran-03);
}

.sidebar .sidebar-nav .primary-nav {
  overflow-y: auto;
  scrollbar-width: none;
  padding-bottom: 20px;
  height: calc(100vh - 200px);
  scrollbar-color: transparent transparent;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  overflow: unset;
  transform: translateY(65px);
}

.sidebar-nav .nav-item .nav-link {
  color: var(--text-color);
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  padding: 9px 15px;
  align-items: center;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar-nav .nav-item:is(:hover, .open)>.nav-link:not(.dropdown-title) {
  color: #fff;
  background: var(--primary-color);
  transition: var(--tran-03);
  opacity: 1s;
}

.sidebar .nav-link .nav-label {
  transition: opacity 0.3s ease;
  font-size: 14px;
}

.sidebar.collapsed .nav-link :where(.nav-label, .dropdown-icon) {
  opacity: 0;
  pointer-events: none;
}

.sidebar.collapsed .nav-link .dropdown-icon {
  transition: opacity 0.3s 0s ease;
}

.sidebar-nav .nav-item {
  position: relative;
}
.sidebar-nav .dropdown-container .dropdown-icon {
  margin: 0 -4px 0 auto;
  transition: transform 0.4s ease, opacity 0.3s 0.2s ease;
}

.sidebar-nav .dropdown-container.open .dropdown-icon {
  transform: rotate(180deg);
}

.sidebar-nav .custom-dropdown-menu {
  height: 0;
  overflow-y: hidden;
  list-style: none;
  padding-left: 15px;
  transition: height 0.4s ease;
}

.sidebar.collapsed .custom-dropdown-menu {
  position: absolute;
  top: -10px;
  left: 100%;
  opacity: 0;
  height: auto !important;
  padding-right: 10px;
  overflow-y: unset;
  pointer-events: none;
  border-radius: 0 10px 10px 0;
  background: var(--sidebar-color);
  transition: 0s;
}

.sidebar.collapsed .custom-dropdown-menu:has(.dropdown-link) {
  padding: 7px 10px 7px 24px;
}

.sidebar.sidebar.collapsed .nav-item:hover>.custom-dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(12px);
  transition: all 0.4s ease;
}

.sidebar.sidebar.collapsed .nav-item:hover>.custom-dropdown-menu:has(.dropdown-link) {
  transform: translateY(10px);
}

.custom-dropdown-menu .nav-item .nav-link {
  color: var(--text-color);
  padding: 9px 15px;
}

.sidebar.collapsed .custom-dropdown-menu .nav-link {
  padding: 7px 15px;
}

.custom-dropdown-menu .nav-item .nav-link.dropdown-title {
  display: none;
  color:  var(--text-color);
  padding: 9px 15px;
}

.custom-dropdown-menu:has(.dropdown-link) .nav-item .dropdown-title {
  font-weight: 500;
  padding: 7px 15px;
}

.sidebar.collapsed .custom-dropdown-menu .nav-item .dropdown-title {
  display: block;
}

.sidebar-menu-button {
  display: none;
}


/* Responsive media query code for small screens */
@media (max-width: 768px) {
  .sidebar-menu-button {
    position: fixed;
    left: 20px;
    top: 20px;
    height: 40px;
    width: 42px;
    display: flex;
    color: #F1F4FF;
    background: #151A2D;
  }

  .sidebar.collapsed {
    width: 270px;
    left: -270px;
  }

  .sidebar.collapsed .sidebar-header .sidebar-toggler {
    transform: none;
  }

  .sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(15px);
  }
}